{% extends 'base.html' %}
{% block title %} 
    Admin dashboard
{% endblock %}

{% block main %}
    <main class="admin_dashboard h-100">
        <div class="row m-0  h-100">
            <div class="col-4 sidebar  h-100 ps-0">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-lightblue  h-100" >
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" dideo-checked="true">
                      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                      <span class="fs-4">داشبورد</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="#employees" class="nav-link active" aria-current="page" data-target="employees" >
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                            کارکنان
                        </a>
                      </li>
                      <li>
                        <a href="#types" class="nav-link link-dark" data-target="types">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                          مدیریت انواع
                        </a>
                      </li>
                      <li>
                        <a href="#requests" class="nav-link link-dark" data-target="requests">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                          درخواست ها
                        </a>
                      </li>
                      <li>
                        <a href="#reports" class="nav-link link-dark" data-target="reports">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                          گزارش ها
                        </a>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="col-8 content">
                <article class ="" id="employees">
                    <h2 class="my-4 py-4">وضعیت حضور و غیاب:</h2>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام و نام خانوادگی</th>
                            <th scope="col">ورود</th>
                            <th scope="col">خروج</th>
                            <th scope="col">وضعیت حضور</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{ user.name}}</td>
                                    <td>{{ user["last_report"]["checkin"] or '-'}}</td>
                                    <td>{{ user["last_report"]["checkout"] or '-'}}</td>
                                    {% if user["last_report"]["checkin"] and not user["last_report"]["checkout"]%}
                                        <td>حاضر</td>
                                    {% else%}
                                        <td>غایب</td>
                                    {% endif %}
                                </tr>  
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
                <article class ="d-none" id="types">
                    <div class="absence_types">
                        <h4 class="my-4 pb-2">انواع عدم حضور:</h4>
                        <div class="types_row" data-create_url="add_off_type" data-delete_url="delete_off_type">
                            {% for type in offtypes %}
                                <div class="type_element" data-id={{type["id"]}} data-closable={{type["initial"]}}>
                                    <strong>{{type["name"]}}</strong>
                                    {% if not type["initial"]%}
                                        <button type="button" class="btn-simple close"  aria-label="Close">
                                            <i class="bi-trash"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            
                            <div class="type_element new d-none">
                                <input type="text" name="new_element" placeholder="نام"/>
                                <button data-target_url='add_off_type'>
                                    <i class="bi-check-square"></i>
                                </button>
                            </div>
                            <div class="type_element add">
                                <strong>افزودن </strong>
                            </div>
                        </div>
                    </div>
                    <div class="objective_types">
                        <h4 class="my-4 pb-2">انواع ماموریت :</h4>
                        <div class="types_row" data-create_url="add_obj_type" data-delete_url="delete_obj_type">
                            {% for type in objtypes %}
                                <div class="type_element" data-id={{type["id"]}} data-closable={{type["initial"]}}>
                                    <strong>{{type["name"]}}</strong>
                                    {% if not type["initial"]%}
                                        <button type="button" class="btn-simple close"  aria-label="Close">
                                            <i class="bi-trash" ></i>
                                        </button>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="type_element new d-none">
                                <input type="text" name="new_element" placeholder="نام"/>
                                <button data-target_url='add_obj_type'>
                                    <i class="bi-check-square"></i>
                                </button>
                            </div>
                            <div class="type_element add">
                                <strong>افزودن </strong>
                            </div>
                        </div>
                    </div>
                </article>
                <article class ="d-none" id="requests">
                    <h4 class="my-4 py-4">درخواست های مرخصی و ماموریت:</h4>
                    <div class="row">
                        {% if not offrequests %}
                        <div class="alert alert-primary" role="alert">
                            درخواستی برای نمایش وجود ندارد.
                        </div>
                        {% endif %}
                        {% for request in offrequests | sort(reverse=True, attribute='create_date') %}
                            <div class="request_line border d-flex p-4" data-id="{{request.id}}">
                                <div class="right d-flex flex-wrap col-10">
                                    <p class="requester mb-3 w-50">
                                        <span>درخواست کننده:</span>
                                        <strong>{{ request.employee.name}}</strong>
                                    </p>
                                    {% if request.type.name%}
                                        <p class="request_type mb-3 w-50">
                                            <span>نوع مرخصی:</span>
                                            <strong>{{ request.type.name }}</strong>
                                        </p>
                                    {% else %}
                                    <p class="request_type mb-3 w-50">
                                            <span>نوع ماموریت:</span>
                                            <strong>{{ request.obj.name }}</strong>
                                        </p>
                                    {% endif %}
                                    <p class="request_date w-50">
                                        <span> از :</span>
                                        <strong>{{ request.jalali_date_from(True) }}</strong>
                                    </p>
                                    <p class="request_date_to w-50">
                                        <span>تا :</span>
                                        <strong>{{ request.jalali_date_to(True) }}</strong>
                                    </p>
                                </div>
                                <div class="left">
                                    <div class="actions">
                                        {% if request.status == "unseen" %}
                                            <button class="btn btn-outline-primary confirm">تایید</button>
                                            <button class="btn btn-outline-danger reject">رد</button>
                                        {% elif request.status == "rejected" %}
                                            <button class="btn btn-outline-danger">رد شده</button>
                                        {% elif request.status == "accepted" %}
                                            <button class="btn btn-outline-success">تایید شده</button>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                
                            </div>
                        {% endfor%}
                    </div>
                </article>
                <article class ="d-none" id="reports">
                    <h2 class="my-4 py-4">گزارش ورود و خروج:</h2>
                    <select class="form-select mb-4" aria-label="Users selection">
                        <option selected>انتخاب فرد مورد نظر</option>
                        {% for user in users%}
                            <option value={{user.id}}>{{user.name}}</option>
                        {% endfor %}
                    </select>
                    <table class="table table-bordered d-none">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">تاریخ</th>
                            <th scope="col">ساعت ورود</th>
                            <th scope="col">ساعت خروج</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </main>
{% endblock %}