{% extends 'base.html' %}
{% block title %} 
    ورود
{% endblock %}

{% block main %}
    <div class="container w-50 pt-4 mt-4">
        <div class="login_from">
            <form action="" method="POST">
                <!-- CSRF -->
                {{ form.hidden_tag() }} 

                <fieldset class="form-group">
                    <legend class="mb-4 border-bottom">ورود به حساب</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label pb-2") }}
                        {%if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg mb-4 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{ form.username(class="form-control form-control-lg mb-4") }}
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label pb-2") }}
                        {%if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg  is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{ form.password(class="form-control form-control-lg mb-2") }}
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{ form.remember() }}
                        {{ form.remember.label(class="form-control-label mb-3") }}
                    </div>
                  
                </fieldset>
                <div class="form-group text-end mb-2 d-flex justify-content-between align-items-center">
                    <div class="">
                    <small class="text-muted">
                        حساب جدید نیاز دارید؟
                        <a class="mr-2" href="{{ url_for('register') }}">بسازید !</a>
                    </small>
                    </div>
                    {{ form.submit(class="btn btn-outline-info") }}
                    
                </div>
                {% with messages = get_flashed_messages(with_categories=True)%}
                    {% for category, msg in messages %}
                        <div class="alert alert-{{category}}" role="alert">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock%}