<nav class="navbar navbar-light bg-lightblue">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{url_for('static', filename='img/logo.svg')}}" alt="logo" class="d-inline-block align-text-top">
      حضور غیاب
    </a>
    {% if current_user.is_authenticated %}
      <a class="logout text-decoration-none" href="/logout" >خروج از  حساب کاربری</a>
    {% endif %}
  </div>
</nav>