{% extends 'base.html' %}
{% block title %} 
    ثبت نام
{% endblock %}

{% block main %}
    <div class="container w-50 pt-4 mt-4">
        <div class="login_from">
            <form action="" method="POST">
                <!-- CSRF -->
                {{ form.hidden_tag() }} 

                <fieldset class="form-group">
                    <legend class="mb-4 border-bottom">ثبت نام</legend>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label pb-2") }}
                        {%if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback  mb-4">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{ form.name(class="form-control form-control-lg mb-4") }}
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label pb-2") }}
                        {%if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback  mb-4">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{ form.username(class="form-control form-control-lg mb-4") }}
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label pb-2") }}
                        {%if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg  is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{ form.password(class="form-control form-control-lg mb-4") }}
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label pb-2") }}
                        {%if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback  mb-4">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{ form.confirm_password(class="form-control form-control-lg mb-4") }}
                        {%endif%}
                    </div>    
                </fieldset>
                <div class="form-group text-end mb-2 d-flex justify-content-between align-items-center">
                    <div class="">
                    <small class="text-muted">
                        حساب کاربری دارید؟
                        <a class="mr-2" href="{{ url_for('login') }}">وارد شوید</a>
                    </small>
                    </div>
                    {{ form.submit(class="btn btn-outline-info") }}
                    
                </div>
            </form>
        </div>
    </div>
{% endblock%}