{% extends 'base.html' %}
{% block title %} 
    User dashboard
{% endblock %}

{% block main %}
    <main class="admin_dashboard  h-100">
        <div class="row m-0  h-100">
            <div class="col-4 sidebar  h-100 ps-0">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-lightblue h-100" >
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" dideo-checked="true">
                      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                      <span class="fs-4">داشبورد</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="#dayreport" class="nav-link active" aria-current="page" data-target="dayreport" >
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                            گزارش روزانه
                        </a>
                      </li>
                      <li>
                        <a href="#requests" class="nav-link link-dark" data-target="requests">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                          درخواست های من
                        </a>
                      </li>
                      <li>
                        <a href="#reports" class="nav-link link-dark" data-target="reports">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                          گزارش ها
                        </a>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="col-8 content">
                <article class ="" id="dayreport">
                    <h2 class="my-4 py-4">ثبت ورود و خروج:</h2>
                    <div class="d-flex justify-content-start mb-4">
                        <div class="">
                            <button class="btn btn-primary submit_checkin form-control">ثبت ورود</button>
                        </div>
                        <div class="">
                            <button class="btn btn-warning submit_checkout form-control ms-2">ثبت خروج</button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">تاریخ</th>
                            <th scope="col">ورود</th>
                            <th scope="col">خروج</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for report in current_user.reports | sort(reverse=True, attribute='create_date')%}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{ report.jalali_date() }}</td>
                                    <td>{{ report.checkin.strftime("%H:%M") or '-'}}</td>
                                    <td>{{ report.checkout and report.checkout.strftime("%H:%M") or '-'}}</td>
                                   
                                </tr>  
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
                <article class ="d-none" id="requests">
                    <h4 class="my-4 py-4">درخواست های مرخصی و ماموریت:</h4>
                    <div class="row">
                        <div class="add_new w-100 text-end mb-4">
                            <button class="btn btn-info create_new_request text-white">درخواست جدید</button>
                        </div>
                        {% if not current_user.requests %}
                        <div class="">
                            <div class="alert alert-primary" role="alert">
                                تا کنون درخواستی نداشته اید.
                            </div>

                        </div>
                        {% endif %}
                        <form class="mb-4 create_request" action="#" method="post">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group new_request_form d-none">
                                <legend class="mb-4 border-bottom">ثبت درخواست جدید</legend>
                                <div class="row ">
                                    <div class="form-group col-6">
                                        {{ form.request_type.label(class="form-control-label pb-2") }}
                                        {{ form.request_type(class="form-control  mb-4") }}
                                    </div>
                                    <div class="form-group col-6 d-none type_selector off">
                                        {{ form.off_type.label(class="form-control-label pb-2") }}
                                        {{ form.off_type(class="form-control  mb-4") }}
                                    </div>
                                    <div class="form-group col-6 d-none type_selector obj">
                                        {{ form.obj_type.label(class="form-control-label pb-2") }}
                                        {{ form.obj_type(class="form-control  mb-4") }}
                                    </div>
                                    <div class="form-group col-6 date_start" data-error_class="date_start_unix">
                                        {{ form.date.label(class="form-control-label pb-2") }}
                                        {{ form.date(class="form-control ") }}
                                        <div class="invalid-feedback  mb-4 d-none">
                                            <span class="error">{{ error }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 date_end" data-error_class="date_end_unix">
                                        {{ form.date_end.label(class="form-control-label pb-2") }}
                                        {{ form.date_end(class="form-control ") }}
                                        <div class="invalid-feedback  mb-4 d-none">
                                            <span class="error">{{ error }}</span>
                                        </div>

                                    </div>
                                </div>  
                                
                                {{ form.submit(class="btn btn-outline-primary send_request mt-4") }}
                                <button class="btn btn-outline-danger cancel mt-4">لغو</button>
                            </fieldset>
                        </form>
                        <div class="my_requests">
                            {% for request in current_user.requests | sort(reverse=True, attribute='create_date') %}
                            <div class="request border d-flex p-2 align-items-center mb-3" data-id="{{ request.id }}">
                                <div class="right d-flex flex-wrap col-8 ">
                                    {% if request.type %}
                                        <p class="request_type w-100 ">
                                            <span>نوع مرخصی:</span>
                                            <strong>{{ request.type.name }}</strong>
                                        </p>
                                    {% elif request.obj %}
                                        <p class="request_type w-100">
                                            <span>نوع ماموریت:</span>
                                            <strong>{{ request.obj.name }}</strong>
                                        </p>
                                    {% endif %}
                                    <p class="request_date w-50 m-0">
                                        <span> از :</span>
                                        <strong>{{ request.jalali_date_from(True) }}</strong>
                                    </p>
                                    <p class="request_date_to w-50 m-0">
                                        <span>تا :</span>
                                        <strong>{{ request.jalali_date_to(True) }}</strong>
                                    </p>
                                </div>
                                <div class="left col-4">
                                    <div class="actions d-flex justify-content-end pe-2">
                                        {% if request.status == "unseen" %}
                                            <button class="btn btn-outline-info pointer-none mx-2">درحال بررسی</button>
                                            <button class="btn btn-outline-danger cancel_request">لغو درخواست</button>
                                        {% elif request.status == "rejected" %}
                                            <button class="btn btn-outline-danger pointer-none">رد شده</button>
                                        {% elif request.status == "accepted" %}
                                            <button class="btn btn-outline-success pointer-none">تایید شده</button>
                                        {% elif request.status == "cancelled" %}
                                            <button class="btn btn-outline-success pointer-none ">لغو شده</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor%}
                        </div>
                        
                    </div>
                </article>
                <article class ="d-none" id="reports">
                    <h2 class="my-4 py-4">گزارش خلاصه:</h2>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-5 date_start">
                                <label class="form-control-label pb-2" for="date">تاریخ شروع:</label>
                                <input class="form-control" id="report_date_start" name="report_date_start" required="" type="text" value="">
                                <input id="date_start_unix" type="hidden">
                            </div>
                            <div class="col-5 date_end">
                                <label class="form-control-label pb-2" for="date">تاریخ پایان:</label>
                                <input class="form-control" id="report_date_end" name="report_date_end" required="" type="text" value="">
                                <input id="date_end_unix" type="hidden">
                            </div>
                            <div class="col-2 get_info_cont">
                                <label class="form-control-label pb-2" for="date">&nbsp;</label>
                                <button class="btn btn-primary get_info form-control">نمایش </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered mt-5 pt-4">
                        <tbody>
                        <tr>
                            <td class="w-50">مجموع طول شیفت </td>
                            <td class="text-center w-50">
                                <span  class="total_time">0</span>
                                <i class="mx-2">ساعت</i>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-50">مجموع مرخصی های ساعتی </td>
                            <td class='text-center w-50'>
                                <span class="off_hours">0</span>
                                <i class="mx-2">ساعت</i>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-50">مجموع مرخصی های روزانه</td>
                            <td class='text-center w-50'>
                                <span class="off_days">0</span>
                                <i class="mx-2">روز</i>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-50">مجموع ماموریت های ساعتی</td>
                            <td class='text-center w-50'>
                                <span class="obj_hours">0</span>
                                <i class="mx-2">ساعت</i>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-50">مجموع ماموریت های روزانه</td>
                            <td class='text-center w-50'>
                                <span class="obj_days">0</span>
                                <i class="mx-2">روز</i>
                            </td>
                        </tr>
                        
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </main>
{% endblock %}