@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/iranyekanweblight.ttf') format('truetype');
}
*{
    font-family: IRANYekan;
  }
body{
    height: calc(100vh - 61px);
}
.bg-lightblue{
    background-color: #e3e7ec ;
}
.btn-simple{
    background: none;
    border: none;
}
.pointer-none{
    pointer-events: none;
}
.row{
    margin-left: 0;
}
/* Navbar Start */

nav.navbar{
    padding: 0;
    border-bottom: 1px solid #ddd;
}
nav.navbar a {
    display: flex;
    align-items: center;
}
nav.navbar img{
    width: 50px;
    height: 50px;
    margin-left: 16px;
}

/* Navbar END */

/* SideBar */
.sidebar a{
    text-decoration: none;
}

/* Content */
.admin_dashboard > .col-4.sidebar{
    padding-right: 0;
}
table tr > th:nth-of-type(1){
    text-align: center;
}



/* TYPES */
#types .types_row{
    display: flex;
    flex-wrap: wrap;
}
#types .type_element{
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 16px;
    margin-left: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
}
#types .type_element:hover{
    border-color: #6fa9ff;
}
#types .type_element.add{
    background-color: #6fa9ff;
    color: white;
}
#types .type_element.new, #types div.type_element[data-closable="0"]{
    padding-left: 35px;
}
#types .type_element.new button {
    border: none;
    background: none;
    font-size: 22px;
    color: green;
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 5px;
    border-right: 1px solid #eee;
    padding-right: 8px;
}
#types .type_element button.close {
    font-size: 19px;
    color: crimson;
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 5px;
    padding-right: 8px;
}
#types .type_element button i {
    pointer-events: none;
}
#types .type_element.new input{
    border-width: 0 0 1px 0;
    max-width: 70px;
    outline: none;
    margin-left: 8px;
}
#types .type_element.new input:active,
#types .type_element.new input:focus{
    outline: none;
    border-color: #0d6efd;
}

#types .type_element.new input::placeholder{
    color: #999;
}


/* Requests */
#requests .request_line{
    align-items: center;
}

#requests .request_line .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}
#requests .request_line .status{

}
#requests .request_line .reject{
    margin: 0 8px;
}
#requests .request_line p{
    margin: 0;
}

.time-segment input{
    font-size: 22px;
    font-weight: 700;
}
